@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

/* css canva */
canvas {
    background-image: url('../img/tabuleiro.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 30px;
}

#inputCalc-1 {

    position: absolute;
    width: 800px;
    top: 600px;

}

#inputCalc {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

*, ::before, ::after {
    box-sizing: inherit;
}

select, button, input, label {
    margin: 3px;
    padding: 5px;
    width: 110px;
    text-align: center;

}

#btCaclcular1 {
    width: 800px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;


}

#elementosFixos {
    position: absolute;
    top: 590px;
    width: 800px;
}

.labelInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#infoJogo {
    margin-top: 30px
}

#btProximocss {
    position: absolute;
    top: 147px;
    display: flex;
    width: 800px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    canvas {
        left: 2px;
    }

    #elementosFixos {

        top: 330px;
        width: 350px;
        text-align: justify;
    }

    #inputCalc-1 {
        display: flex;
        width: 400px;
        top: 340px;
        flex-direction: column;
        align-items: center;

    }

    #inputCalc {
        display: flex;
        width: 400px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }

    #btCaclcular1 {
        width: 400px;
    }

    #btProximocss {
        position: absolute;
        top: 273px;
        width: 400px;
    }


}

/* css div dados
.bt {
    position: absolute;
    top: 600px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    margin-top: 10px;

}

select, button, input, label {
    margin: 3px;
    padding: 5px;
    width: 110px;
    text-align: center;
}

.label {
    display: inline-grid;
    background: antiquewhite;
}

#btCalcular {
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#infoJogo {
    width: 600px;
    text-align: justify;
}

@media only screen and (max-width: 450px) {
    #inputCalc-1 {
        position: absolute;
    }

    #infoJogo {
        width: 300px;
    }


    #btCalcular {
        top: 200px;
        width: 100px;
    }
} */